<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<a href="{% url 'home' %}">Home</a> | <a href="{% url 'about' %}">About</a>
</head>
<body>
	{% block content %}
	{% endblock content %}
</body>
</html>